<!DOCTYPE html>
<html>
<head>

<title>Secure Access</title>
<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gradient-to-r from-black via-gray-900 to-black flex items-center justify-center min-h-screen text-white">

<div class="bg-gray-800 p-10 rounded-xl w-[400px] shadow-lg">

<h2 class="text-2xl text-center mb-6 text-purple-400">
Secure Access
</h2>

<form method="post">

<input type="password" name="password" required
placeholder="Enter password"
class="w-full p-3 rounded-lg bg-black border border-gray-600 mb-5">

<button class="w-full bg-purple-600 p-3 rounded-lg hover:bg-purple-700">

Unlock Content

</button>

</form>

</div>

</body>
</html>