<!DOCTYPE html>
<html>
<head>
<title>SecureShare</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-indigo-900 via-purple-900 to-blue-900 min-h-screen text-white">

<div class="text-center pt-12">
<h1 class="text-4xl font-bold text-cyan-300 mb-4">🔐 SecureShare</h1>
<p class="text-gray-300">Secure message, image and file sharing</p>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-12">

<!-- MESSAGE -->

<div class="bg-white/10 p-6 rounded-xl">
<h2 class="text-xl font-bold text-green-300 mb-4">Secure Message</h2>

<form action="/process" method="post">

<textarea name="message"
placeholder="Enter message"
class="w-full p-3 rounded bg-black/30 mb-4"></textarea>

<input type="password" name="password"
placeholder="Create password"
required
class="w-full p-3 rounded bg-black/30 mb-4">

<input type="hidden" name="type" value="message">

<button class="w-full bg-green-500 p-2 rounded">
Generate Link
</button>

</form>
</div>


<!-- IMAGE -->

<div class="bg-white/10 p-6 rounded-xl">
<h2 class="text-xl font-bold text-pink-300 mb-4">Secure Image</h2>

<form action="/process" method="post" enctype="multipart/form-data">

<input type="file" name="file" accept="image/*"
class="w-full p-3 rounded bg-black/30 mb-4">

<input type="password" name="password"
placeholder="Create password"
required
class="w-full p-3 rounded bg-black/30 mb-4">

<input type="hidden" name="type" value="image">

<button class="w-full bg-pink-500 p-2 rounded">
Generate Link
</button>

</form>
</div>


<!-- FILE -->

<div class="bg-white/10 p-6 rounded-xl">
<h2 class="text-xl font-bold text-yellow-300 mb-4">Secure File</h2>

<form action="/process" method="post" enctype="multipart/form-data">

<input type="file" name="file"
class="w-full p-3 rounded bg-black/30 mb-4">

<input type="password" name="password"
placeholder="Create password"
required
class="w-full p-3 rounded bg-black/30 mb-4">

<input type="hidden" name="type" value="file">

<button class="w-full bg-yellow-500 p-2 rounded">
Generate Link
</button>

</form>
</div>

</div>

</body>
</html>