<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white flex items-center justify-center min-h-screen">

<div class="bg-gray-900 p-10 rounded-xl shadow-xl w-[500px] text-center">

<h2 class="text-2xl text-cyan-400 mb-6">Security Pipeline</h2>

<ul class="space-y-2">
<li>✔ Password Hashing (SHA-256)</li>
<li>✔ AES Encryption</li>
<li>✔ RSA Key Generation</li>
<li>✔ Secure Link Generated</li>
</ul>

<p class="mt-6">Share this link:</p>

<a class="text-cyan-400 underline" href="{{ link }}">
{{ link }}
</a>

</div>

</body>
</html>